
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f0f0f0;
margin: 0;
}

.gif-container {
position: relative;
display: inline-block;
}


#gif2 {
display: none; /* Hide the second GIF initially */
}

.gif-container:hover #gif1 {
display: none; /* Hide the first GIF on hover */
}

.gif-container:hover #gif2 {
display: block; /* Show the second GIF on hover */
}

